.details {
  @include details-font;

}
.breadcrumbs {
  @include flex(row, flex-start, center);
  gap: 10px;
  padding-bottom: 30px;
  width:35%;
}
.breadcrumbs__item {
  text-transform: capitalize;
  // width: 20%;
}
.breadcrumbs__item_arrows{
  width:3%;
}
.details__container {
  display: grid;
  grid-template-columns: 4fr 7fr 1fr;
  width: 100%;
}
.details__heading {
}
.slider {
  @include flex(row, flex-start, center);
}
.slider__thumbs {
  width:9%;
  align-self: flex-start;
  @include flex(column, space-around, center);
  gap: 2px;
}
.slider__item{
  width: 50%;
  padding: 2px 10px;
  border: 1px solid $color-dark;
}
.slider__thumb {
  width: 100%;
  object-fit: cover;
}
.slider__photo {
  width:24%;
  margin: 0 auto;
}
.details__block {
  padding: 2%;
}
.details__list {
}
.details__item-heading {
  @include details-heading-font;
}
.details__item {
  padding-bottom: 5px;
}
.details__item_description {
}
.details_info {
}
.details__item_discount {
}
.details__item_rating {
}
.details__item_stock {
}
.details__item_brand {
}
.details__item_category {
}

.priceblock {
  @include flex(column, center, center);
  gap: 20px;
  align-self: center;
  justify-self: center;
}

.details__price {
  @include details-heading-font;
  font-weight: bold;
  text-align: center;
}
