.filters {
  padding-top: 30px;
  padding-left: 1%;
  @include flex(column, flex-start, flex-start);
  width: 20%;
}
.filters__heading {
  @include filter-heading-font();
}
.filters__container {
  @include filter-section-heading-font();
  @include flex(column, flex-start, flex-start);
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100%;
}
.block__container {
  width: 100%;
}
.block__item {
  @include flex($justify: flex-start);
  padding-top: 10px;
}
.filter {
}
.item__checkbox {
}

.item__name {
  padding-left: 2%;
}
