.filters {
  padding-top: 30px;
  padding-left: 1%;
  @include flex(column, flex-start, flex-start);
  // width: 250px;
}
.filters__header {
  display: flex;
  gap: 5px;
}

.button-filters {
  cursor: pointer;
}
.filters__category {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.category__item-label,
.category__item-checkbox {
  @include filter-checkbox-font;
  cursor: pointer;
  user-select: none;
}
.item__checkbox-container {
  display: flex;
  justify-content: space-between;
  width: 350px;
}
.filters__category-title {
  @include filter-checkbox-font;
}
.category__item-counter {
  align-self: flex-end;
}
