.main {
  @include flex(row, flex-start, flex-start);
  min-height: 9git00px;
}

.goods {
  width: 100%;
  padding-top: 2%;
  padding-left: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
}
