.goods__header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: gray;
}
.sort-options {
  @include basic-font;
  border: none;
  height: 100%;
  cursor: pointer;
  color: $color-light;
  background-color: $color-button;
  outline: none;
  transition: 0.5s all;
}
.sort-options:hover {
  color: $color-dark;
}

.found {
  @include basic-font;
  align-self: center;
  color: $color-light;
  user-select: none;
}

.search-products {
  @include basic-font;
  border: 1px solid $color-button;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3);
  outline: none;
  text-align: center;
}

.button-wiev {
  font-family: type_basic;
  font-size: 1em;
  cursor: pointer;
  background-color: $color-button;
  color: $color-light;
  border: none;
  transition: 0.5s all;
}
.button-wiev:hover {
  color: $color-dark;
}
