.main {
  @include flex(row, flex-start, flex-start);
  flex-grow: 1;
  height: 100%;
}

.goods {
  padding-top: 3%;
  padding-left: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
}
