@mixin basic-font {
  color: $color-dark;
  font-family: type_basic;
  font-size: 1.2em;
}
@mixin details-font {
  color: $color-dark;
  font-family: type_basic;
  font-weight: 200;
  font-size: 0.8rem;
}
@mixin details-heading-font {
  color: $color-dark;
  font-family: type_basic;
  font-size: 1.2rem;
}

@mixin filter-section-heading-font {
  color: $color-dark;
  font-family: type_basic;
  font-size: 1.2em;
}

@mixin filter-heading-font {
  color: $color-dark;
  font-family: type_basic;
  font-size: 150%;
}

@mixin cart-heading-font {
  color: $color-dark;
  font-family: type_basic;
  font-size: 150%;
}

@mixin cart-description-font {
  color: $color-dark;
  font-family: type_basic;
  font-size: 100%;
}

@mixin filter-item-font {
  color: $color-dark;
  font-family: type_basic;
  font-size: 1em;
}

@mixin sku-price-font {
  color: $color-dark;
  font-family: type_basic;
  font-weight: 700;
  font-size: 1.3em;
}
@mixin sku-description-font {
  color: $color-dark;
  font-family: type_basic;
  font-size: 0.9em;
}
@mixin sku-button-font {
  color: $color-dark;
  font-family: type_basic;
  font-size: 1em;
}

@mixin flex($direction: row, $justify: space-between, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin payment-heading-font {
  padding-top: 2%;
  padding-left: 10%;
  color: $color-dark;
  font-family: type_basic;
  font-size: 2.2em;
}

@mixin filter-checkbox-font {
  color: $color-dark;
  font-family: type_basic;
  font-size: 100%;
}
@mixin validate-wrong-font {
  color: $color-button;
  font-family: type_basic;
  font-size: 70%;
}
